*{
    margin: 0px;
    padding: 0px;
}
.nav{
    /* background: #DA4453; 
    background: -webkit-linear-gradient(to right, #480048, #C04848);  
    background: linear-gradient(to right, #480048, #C04848);  */
    background: #8E2DE2;  
   background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
   background: linear-gradient(90deg, #4A00E0, #8E2DE2);
     width: 100%;
     display: flex;
     height: 80px;
     justify-content: space-between;
  
   
     position: fixed;
     top: 0px;
}

.nav h1 {
    /* width: 150px;
   height: 100px; */
  font-size: 35px;
   color: white;
   margin: 18px;
}
button{
  
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 23px;
    margin-right: 28px;
    width: 110px;
    height: 45px;
    background-color: #868E96;
    border: none;
    color: white;
    font-weight: bolder;
    cursor: pointer;

}
.cover > img{
    width: 100%;
    height: 600px;
}
/* .container{
    display: flex;
    justify-content: space-around;
    margin: 60px;
} */
.logo> img{
    width: 160px;
  
    
}
h3{
    margin-bottom: 15px;
}

.links > ul{
    font-weight: bold;
 list-style: none;
 line-height: 1.7;

}
.links{
    margin-top: 150px;
    margin-left: 50px;
}
.links a{
    text-decoration: none;
}
.smart-image{
    margin-left: 110px;
    margin-top: 18px;
    
    margin-bottom: 30px;
}
.smart-campus{
    margin-left: 60px;
    width: 300px;
    margin-bottom: 10px;
}
.logo > p{
    line-height: 1.6;
}
/* .sub-con{
    line-height: 1.7;
} */
li:hover{
   
    margin-left: 10px;
    transition: 1.5s;
}
li{
    cursor: pointer;
}
.logo > p> .locate{
    width: 55px;
    margin-top: 20px;
  
}
.footer{
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: nowrap; /* Prevent wrapping on normal screens */
}

.sub-con, .links, .logo {
    flex-basis: 33.33%;
    padding: 20px;
}


@media only screen and (max-width: 768px) { 
    .cover > img    {
        width: 100%;
        height: 400px;
    }
    .nav h1 {
     
      font-size: 25px;
       color: white;
       margin: 25px;
    }
    button{
        font-size: 12px;
        padding: 10px;
        border-radius: 4px;
        margin-top: 20px;
        margin-right: 28px;
        width: 90px;
        height: 40px;
        background-color: #868E96;
        border: none;
        color: white;
        font-weight: bolder;
        cursor: pointer;
    
    }
    .container {
        margin-top: 30px;
        width: 600px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sub-con, .links, .logo {
        flex-basis: calc(50% - 40px); /* Adjust the width based on the desired spacing */
        margin: 20px;
        padding: 30px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .sub-con:hover, .links:hover, .logo:hover {
        transform: translateY(-5px);
    }

    .sub-con img, .links img, .logo img {
        max-width: 100%;
        height: auto;
    }

    .sub-con p, .links p, .logo p {
        margin-top: 20px;
        line-height: 1.4;
    }

  
    .links > ul{
    
     line-height: 1.7;
    
    }
            .smart-campus{
             width: 200px;
             margin-left: 5px;
         
            }
            .smart-image{
             width: 200px;
             margin-left: 6px;
            }
    }  
    @media only screen and (max-width: 590px) { 
        .cover > img    {
            width: 600px;
            height: 400px;
        }
        .nav h1 {
         
          font-size: 20px;
           color: white;
           margin: 25px;
        }
        button{
            font-size: 12px;
            padding: 10px;
            border-radius: 4px;
            margin-top: 21px;
            margin-right: 28px;
            width: 70px;
            height: 30px;
            background-color: #868E96;
            border: none;
            color: white;
            font-weight: bolder;
            cursor: pointer;
        
        }
        .footer{
         display: none;
        }
        }  
     /* Styles for tablet devices */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        width: 600px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sub-con, .links, .logo {
        flex-basis: calc(50% - 40px); /* Adjust the width based on the desired spacing */
        margin: 20px;
        padding: 30px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .sub-con:hover, .links:hover, .logo:hover {
        transform: translateY(-5px);
    }

    .sub-con img, .links img, .logo img {
        max-width: 100%;
        height: auto;
    }

    .sub-con p, .links p, .logo p {
        margin-top: 20px;
        line-height: 1.4;
    }

  
    
            .smart-campus{
             width: 200px;
             margin-left: 5px;
         
            }
            .smart-image{
             width: 200px;
             margin-left: 6px;
            }
}